<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="row area-grid">
    <div class="row">
        <div class="small-12 columns text-center info-text">
            Semestre
        </div>
    </div>
    
    <%= render 'form', semester: @semester %>
    
  </div>
</div>
<%= render 'shared/footer' %>
<% content_for :script do %>
<script>
  mixpanel.track("Acessou página editar semestre", { "semester": "<%= @semester.current_text %>" });
</script>
<% end %>