<table id="<%= table_id %>" class="<%= table_class %>"8>
  <thead>
    <tr>
      <th width="150">Natureza</th>
      <th width="150">Código</th>
      <th>Disciplina</th>
      <th width="80"></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
