<table id="<%= table_id %>" class="<%= table_class %>">
    <caption>Planejamento</caption>
    <thead style = "<%= table_style %>" >
        <tr>
            <th width="100">Semestre</th>
            <th width="150">Natureza</th>
            <th width="150">Código</th>
            <th>Disciplina</th>
            <th width="80"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>