<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="row area-grid">
    <div class="row">
        <div class="small-12 columns text-center info-text">
            Editar Aluno
        </div>
    </div>
    
    <%= render 'form', student: @student %>
    
  </div>
</div>

<%= render 'shared/footer' %>
<% content_for :script do %>
<script>
    mixpanel.track("Acessou pagina para editar aluno", { "matricula_student": "<%= @student.matricula %>" });
</script>
<% end %>