<table id="<%= table_id %>" class="<%= table_class %>">
    <thead>
        <tr>
            <th width="120">Período</th>
            <th> Componentes Curriculares</th>
            <th width="20">CH</th>
            <th width="20">CR</th>
            <th width="20">NT</th>
            <th width="30">Nota</th>
            <th width="20">RES</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>