<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="row area-grid">
    <div class="row">
        <div class="small-12 columns text-center info-text">
            Coordenador
        </div>
    </div>
    
    <%= render 'form', coordinator: @coordinator %>
   
  </div>
</div>
<%= render 'shared/footer' %>
<% content_for :script do %>
<script>
  mixpanel.track("Acessou página editar coordenador", { "nome_coordenador": "<%= @coordinator.name %>" });
</script>
<% end %>