<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="row area-grid">
    <div class="row">
        <div class="small-12 columns text-center info-text">
            Código
        </div>
    </div>
    
    <%= render 'form', discipline_code: @discipline_code %>
   
  </div>
</div>
<%= render 'shared/footer' %>
<% content_for :script do %>
<script>
  mixpanel.track("Acessou página editar código disciplina", { "codigo_disciplina": "<%= @discipline_code.to_code %>" });
</script>
<% end %>