<div data-turbolinks="false">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="<%= root_path %>">Meu Horário</a></li>
                <%= render 'shared/user_rule' %>
            </ul>
        </div>
        <div class="top-bar-right">
            <%= render 'devise/menu/login_items' %>
        </div>
    </div>
</div>

