<h3>Obrigatórias</h3>
  
  <div class = "field">
    <% @disciplines_ob.each do |discipline| -%>
        <%= discipline.identifier + ' - ' + discipline.association_quantity.to_s %>
      </br>
    <% end -%>
  </div>
  
<h3>Optativas</h3>
  
  <div class = "field">
    <% @disciplines_op.each do |discipline| -%>
        <%= discipline.identifier + ' - ' + discipline.association_quantity.to_s %>
      </br>
    <% end -%>
  </div>

<%= link_to 'Voltar', pre_enrollments_path %>