<div class="wrapper">
  <%= render 'shared/header' %>
    <%= render 'record', record_enrollment: @record_enrollment %>
</div>
<%= render 'shared/footer' %>
<% content_for :script do %>
<script>
  mixpanel.track("Acessou pagina para editar pre-matricula", { "matricula_aluno": "<%= @student.matricula %>" });
</script>
<% end %>